@import "header.css"; 

/* HERO */ 
#hero{
    grid-column: 1 / -1;
    grid-row: 1;  
    position: relative; 
    text-align: center;
}

#hero img{
    width: 100%; 
    height: auto; 
}

#hero-text{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    letter-spacing: 0.1rem; 
    align-items: center;
    display: flex; 
    flex-direction: column;
    overflow: hidden; 
    white-space: nowrap;
}

#hero-text h1{
    font-family: "Kanit";
    font-size: 4.2rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#hero-text h1 > *{
    margin-left: 0.5rem;
    margin-right: 0.5rem;  
}

#hero-name{
    font-family: "Montserrat",sans-serif;
    margin: 0.2rem; 
    font-size: 10rem; 
}

#subtitle{
    font-size: 2.2rem; 
    font-family: "Kode Mono"; 
}

#read-more{
    margin-top: 0.2rem; 
    font-family: "Oswald"; 
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;  
    font-size: 1.5rem;
    color: black; 
    background-color: white; 
    border-radius: 0.5rem;
}

#read-more:hover{
    background-color: grey;
    border-radius: 0.5rem;
}

/* GENERAL SECTION TAGS */ 
section > h1{
    text-align: center;
    font-family: "Kanit";
    font-size: 2.7rem;
    letter-spacing: 0.5rem; 
}

.bold-italic{
    font-weight: bold;
    font-style: italic;
}

/* ABOUT */ 
#about-me {
    grid-row: auto; 
    grid-column: 2 / span 3;
}

#about-me article > *{
    margin: 1rem; 
}

#about-me article {
    display: flex; 
    align-items: center;
}

#about-me figure{
    position: relative; 
    min-width: 30%; 
    height: min-content; 
}

#about-me figure img{
    max-width: 100%; 
    height: auto;
}

#about-me figcaption{
    box-sizing: border-box;
    position: absolute; 
    font-size: 0.7rem; 
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%; 
    padding: 0.2rem; 
    bottom: 0; 
    font-style: italic;
}

#about-me p::after{
    content: "\A"; 
    display: block; 
    white-space: pre; 
}

/* EXPLORE */
#explore{
    grid-row: auto; 
    grid-column: 2 / span 3; 
}

#explore a{
    color: white; 
}

#explore p{
    background-color: transparent;
    border-radius: 2rem;
    width: 100%;
    height: 100%; 

    display: flex; 
    justify-content: center;
    align-items: center;
}

.content{
    display: absolute; 
    bottom: 0; 
}

.explore-card:hover{
    color: red;
    transition: color 0.3s; 
}

#explore-container{ 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.explore-card{
    display: flex; 
    justify-content: center;
    align-items: center;
    border-width: 0.2rem;
    border-style: solid; 
    border-color: white; 
    background-color: transparent;

    padding: 0;
    border-radius: 2rem;
    width: 20rem; 
    height: 6rem; 
    margin: 0.5rem;
    font-size: 1.5rem;  
}

/* EXPLORE CARDS */
/* #skills-card{
    border-color: #9c2327;
}

#experience-card{
    border-color: #000099;
}

#education-card{
    border-color: #3e6629;
}

#projects-card{
    border-color: #613d5e;
}

#blog-card{
    border-color: #933815;
} */

/* FOOTER */ 
footer{
    grid-row: auto; 
    grid-column: 1 / -1;
    background-color: rgb(36, 36, 36);
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    gap: 1rem; 
    padding-top: 5rem;
    padding-bottom: 5rem; 
    padding-left: 2rem; 
}

footer h1{
    text-align: center;
    padding: 1rem; 
}

#socials{
    grid-column: 1;
}

#contact{
    grid-column: 2; 
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 0.5rem; 
}

footer article li {
    display: grid; 
    grid-template-columns: 10% auto;
    grid-template-rows: auto; 
    gap: 1rem; 
}

footer article li a {
    display: contents;
}

footer li img {
    grid-column: 1;
    width: auto;  
    height: auto; 
    max-width: 100%; 
    min-width: 80%;
}

footer li p {
    grid-column: 2;
    display: flex; 
    align-items: center;
}

footer li a{
    color: white; 
}

