#page-header{
    grid-row: 1;
    grid-column: 1 / -1; 
    height: 100%; 
    position: relative; 
}

#page-header img{
    width: 100%;  
    object-fit: cover;
    filter: blur(10px)
}

#page-header figcaption{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "Kanit";
    font-weight: bold;
    font-size: 4.8rem;
    letter-spacing: 1.5rem;
}